.credentials-div {
    width: 100%;
    margin: 0 0 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.authorization-errors {
    padding: 1rem 0;
    height: 3.2rem;
    font-size: 1.2rem;
    color: #f33;
    font-weight: 550;
}

.credentials-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.credentials-input {
    margin: 1rem 0;
    padding: 0.2rem 0.5rem;
    width: 100%;
    border-bottom: 2px solid grey;
    background-color: transparent;
    font-size: 1.1rem;
}

.credentials-form label {
    color: #333;
}

.credentials-button {
    cursor: pointer;
    padding: 0.5rem 1.5rem;
    margin: 1rem 0;
    background-color: black;
    border-radius: 0.5rem;
    color: white;
    font-size: 1.2rem;
    font-weight: 700;
}
.credentials-button:hover {
    background-color: #211;
}

@media (max-width: 500px) {
    .credentials-input {
        font-size: 1.5rem;
    }
    .credentials-form label {
        font-size: 1.2rem;
    }
    .credentials-button {
        font-size: 1.5rem;
    }
}