.register-div {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.register-box {
    max-width: 400px;
    padding: 2rem;
    background-color: #aaa7;
    border: 1px solid #000;
    border-radius: 0.5rem;
    box-shadow: 0 0 0.5rem #000;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.register-box h1 {
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid black;
}

.register-box a {
    margin-left: 0.2rem;
    color: black;
    font-size: 1.2rem;
    font-weight: 700;
    text-decoration: underline;
}

@media (max-width: 500px) {
    .register-box h1 {
        font-size: 2rem;
    }
    .register-box a {
        font-size: 1.4rem;
    }
    .register-div {
        font-size: 1.2rem;
    }
}